<div class="row align-items-center actions-bar actions-bar-login">
    <div id="forget-password" class="col order-last order-md-first">
        <a id="mfa-cancel" href="#">
            <__trans phrase="Cancel">
        </a>
    </div>
    <div class="col-12 col-md-auto order-first order-md-last mb-4 mb-md-0 text-right">
        <button
            type="submit"
            id="sign-in-button"
            accesskey="s"
            title="<__trans phrase="Sign In (s)">"
            class="btn__mobile btn-primary">
        <__trans phrase="Sign In">
        </button>
    </div>
</div>
