<mt:SetVarBlock name="jq_js_include" append="1">
jQuery(function($) {
  var rendered = false;

  function render() {
    rendered = true;

    var $form = $("form");

    $.ajax({
      type: "POST",
      url: window.CMSScriptURI + "?__mode=mfa_login_form",
      data: $form.find("input[name!=__mode]").serialize(),
      dataType: "json",
    }).then(function(data) {
      var res = data.result;

      if (res.error) {
        $('.alert').remove();
        $form.get(0).reset();

        var $error = $('<div class="row"><div class="col-12"><div class="alert alert-danger" role="alert"></div></div></div>');
        $error.find('.alert').text(res.error);
        $('#msg-block').after($error);

        rendered = false;
        return;
      }

      if (! res.html) {
        $form.get(0).submit();
        return;
      }

      $("#username-field, #password-field, #remember-me, #remember-me + div").hide();

      var $wrap = $("<div id='mfa-wrap'>");
      $wrap.html(res.html);
      $wrap.find("#mfa-cancel").click(function() {
        // TBD - should we reload the page?
        $wrap.remove();
        rendered = false;
        $("#username-field, #password-field, #remember-me, #remember-me + div").show();
      });
      $("#password-field").after($wrap);
    });
  }

  $("form").on("submit", function(ev) {
    if (rendered) {
      return;
    }

    ev.preventDefault();

    render();
  });
});
</mt:SetVarBlock>
<mt:Unless name="page_content">
<script type="text/javascript">
<mt:Var name="jq_js_include" />
</script>
</mt:Unless>
