<mt:setvar name="page_title" value="<__trans phrase="MFA Settings">">
<mt:include name="layout/default.tmpl">

<mt:if name="layout">
<mt:var name="layout">
<mt:else>
<mt:include name="include/header.tmpl" id="header_include">
<mt:var name="page_content">
<mt:include name="include/footer.tmpl">
</mt:if>
