<mt:If name="request.mfa_password_updated">
  <mtapp:statusmsg
    id="mfa_password_updated"
    class="info"
    can_close="0">
    <__trans phrase="Your password has been updated. Please sign in again.">
  </mtapp:statusmsg>
</mt:If>
